# OS X Finder hidden files
.DS_Store

# For IntelliJ based products
.idea
*.iml
.DS_Store

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Ignore's VS Code's config directory
.vscode

# terraform
*.tfstate.backup
.terraform

# dotenv for local env variables
.env
.env.local

# cypress videos & screenshots
cypress/screenshots/
cypress/videos/
mochawesome-report/

# GraphQL codegen
*.graphql.tsx
*fragmentMatchingIntrospection.tsx
*introspection.json
